<div class="upper_border"></div>
<div class="loading_spinner" *ngIf="isLoading">
    <div class="spinner-grow text-primary" role="status">
    </div>
    <div class="spinner-grow text-secondary" role="status">
    </div>
    <div class="spinner-grow text-success" role="status">
    </div>
    <div class="spinner-grow text-danger" role="status">
    </div>
    <div class="spinner-grow text-warning" role="status">
    </div>
    <div class="spinner-grow text-info" role="status">
    </div>
    <div class="spinner-grow text-dark" role="status">
    </div>
</div>
<div class="row" *ngIf="!isLoading">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <!-- <img class="full_image" src="{{vehicleDetails.fullSizeImage}}"> -->
        vehicleDetails.id
        vehicleDetails.producer.producerName
        vehicleDetails.model
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
        vehicleDetails.id}}
        vehicleDetails.producer.producerName}}
        vehicleDetails.model}}
    </div>
</div>