.points {
    border-bottom: 0.01px solid gray;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.each_point {
    font-size: 11px;
    font-weight: 500;
    color: rgba(27, 28, 36, .8);
    padding-left: 0.8rem;
}

.icon {
    text-align: center;
}

.icon_lg {
    /* text-align: center; */
    margin-bottom: 2rem;
}

.last_sub {
    border-bottom: 0px;
}

img.tick_cross {
    height: 15px;
    width: 20px;
}

div.tick_cross {
    margin-left: 2rem;
    margin-right: 1.1rem;
}