.clear_all {
    cursor: pointer;
    color: #1caba2;
}

.clear_float {
    float: right;
}

h6 {
    margin-bottom: 1rem;
    font-weight: 550;
}

:host>>>.ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    background-color: #1caba2;
}