<div class="row">
    <img class=" add_inventory_left" src="assets/img/login_cars/car-1.jpg">
</div>
<div class="row">
    <img class=" add_inventory_left" src="assets/img/login_cars/car-2.jpg">
</div>
<div class="row">
    <img class=" add_inventory_left" src="assets/img/login_cars/car-3.jpg">
</div>
<div class="row">
    <img class=" add_inventory_left" src="assets/img/login_cars/car-8.jpg">
</div>
<div class="row">
    <img class=" add_inventory_left" src="assets/img/login_cars/car-4.jpg">
</div>
<div class="row">
    <img class=" add_inventory_left" src="assets/img/login_cars/car-5.jpg">
</div>
<div class="row">
    <img class=" add_inventory_left" src="assets/img/login_cars/car-6.jpg">
</div>