<div class="card shadow p-3 mb-5 bg-white rounded more-cards">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <span>
                    <i class="pi pi-calendar"></i>
                </span>
                <span class="cards_common">&nbsp;Expected date of
                    Delivery<br>
                    <span style="font-weight: bold; padding-left: 2rem;">
                        By&nbsp;{{deliveryDate.date}}<sup>th</sup>{{deliveryDate.month}}
                        {{deliveryDate.year}}
                    </span>
                </span>
            </div>
            <div class="col">
                <span>
                    <i class="pi pi-map-marker"></i>
                </span>
                <span class="cards_common">&nbsp;Place of Delivery
                    <br>
                    <span style="font-weight: bold; padding-left: 2rem;">
                        At Your Doorstep
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="card shadow p-3 mb-5 bg-white rounded more-cards">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <span>
                    <i class="pi pi-calendar-plus"></i>
                </span>
                <span class="cards_common">&nbsp;Extend anytime<br>
                    <span style="font-weight: bold; padding-left: 2rem;">
                        No extension charges
                    </span>
                </span>
            </div>
            <div class="col">
                <span>
                    <i class="pi pi-calendar-times"></i>
                </span>
                <span class="cards_common">&nbsp;Returning sooner?
                    <br>
                    <span style="font-weight: bold; padding-left: 2rem;">
                        Just pay the difference
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<app-sub-vs-buy></app-sub-vs-buy>