.upper_border {
    padding-bottom: 3rem;
}

.disclaimer {
    font-size: 0.5rem;
    color: gray;
    margin-left: 8rem;
}

.loading_spinner {
    margin-left: 30rem;
    margin-top: 9rem;
}

.full_image {
    margin-left: 10px;
    width: 400px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 2rem;
}

.card-body {
    width: 40rem;
    padding: initial;
    padding-top: 0.5rem !important;
    padding-left: 0.65rem !important;
}

.attributes {
    margin-top: 10px;
    color: gray;
}

img.icon {
    height: 1rem;
    width: 1rem;
}

h4, h5 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.variant_color_condition {
    color: gray;
    font-size: 1rem;
}

div.variant_color_condition {
    margin-top: 1rem;
    margin-left: 10px;
}

.color_images {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}

.cards_common {
    font-size: 1.1rem;
}

div.more-cards {
    margin-top: -1.5rem;
}