<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a routerLink="/home" class="navbar-brand"><img class="img-responsive" src="../../assets/img/CarNationLogo.png"
                style="width: 115px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" routerLink="">
                        Car Subscription
                    </a></li>
                <li class="nav-item active"><a class="nav-link" routerLink="">
                        How it works!
                    </a></li>
                <li class="nav-item active"><a class="nav-link" routerLink="">
                        FAQs
                    </a></li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signinModal">
                        Login or Signup
                    </button>
                    <app-signin></app-signin>
                </li>
            </ul>
        </div>
    </div>
</nav>