.clear_all {
    cursor: pointer;
    color: #1caba2;
}

.clear_float {
    float: right;
}

.price_min {
    margin-right: -20px;
}

.price_max {
    margin-left: -50px;
}

.min_max {
    font-size: 0.8rem;
    color: gray;
}

.price_alert {
    font-size: 0.6rem;
    padding: 5px;
    margin-left: 1rem;
}

h6 {
    margin-bottom: 1rem;
    font-weight: 550;
}