<div class="row">
    <div class="col">
        <h5>Price Range</h5>
    </div>
    <div class="col clear_float">
        <div class="clear_all" *ngIf="isSelected" (click)="clearSelections()">ClearAll</div>
    </div>
</div>
<div class="row">
    <div class="col price_min">MIN</div>
    <div class="col price_max">MAX</div>
</div>

<div class="row">
    <div class="col price_min">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-8">
                    <p-dropdown class="dropdowns" autoWidth="false" [options]="prices" [(ngModel)]="minSelectedPrice"
                        placeholder={{minPrice}} optionLabel="name" (onChange)="onSelectPrice()"
                        [style]="{'width':'10px'}">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="col price_max">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-8">
                    <p-dropdown class="dropdowns" autoWidth="false" [options]="prices" [(ngModel)]="maxSelectedPrice"
                        placeholder={{maxPrice}} optionLabel="name" (onChange)="onSelectPrice()">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>