<div class="row">
    <div class="col">
        <h6>Price Range</h6>
    </div>
    <div class="col clear_float">
        <div class="clear_all" *ngIf="isSelected" (click)="clearSelections()">ClearAll</div>
    </div>
</div>
<div class="row">
    <span class="alert alert-danger price_alert" *ngIf="priceError">{{priceError}}</span>
</div>
<div class="row">
    <div class="col price_min min_max">MIN</div>
    <div class="col price_max min_max">MAX</div>
</div>

<div class="row">
    <div class="col price_min">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-8">
                    <p-dropdown class="dropdowns" autoWidth="false" [options]="minPriceArray"
                        [(ngModel)]="vehicleService.minSelectedPrice" placeholder={{minPrice}} optionLabel="name"
                        (onChange)="onSelectPrice()"
                        [style]="{'border-left':'0px','border-right':'0px','border-top':'0px','font-weight':'700'}">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="col price_max">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-8">
                    <p-dropdown class="dropdowns" autoWidth="false" [options]="maxPriceArray"
                        [(ngModel)]="vehicleService.maxSelectedPrice" placeholder={{maxPrice}} optionLabel="name"
                        (onChange)="onSelectPrice()"
                        [style]="{'border-left':'0px','border-right':'0px','border-top':'0px','font-weight':'700'}">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>