.upper_border {
    padding-bottom: 3rem;
}

.card {
    margin-bottom: 2rem !important;
}

.card-body {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.total_cars {
    color: gray;
    padding-bottom: 0.5rem;
    font-weight: 900;
}

.price {
    font-size: 1.7rem;
    font-weight: bolder;
}

.price_before {
    font-size: 1.3rem;
    color: gray;
    text-decoration: line-through;
}

.month {
    font-size: 1.25rem;
}

img.icon {
    height: 1rem;
    width: 1rem;
}

img.car {
    width: 11rem;
    height: 5.5rem;
}

.rupee_symbol {
    font-size: 1.5rem;
    font-weight: bolder;
}

.attributes {
    margin-top: 10px;
    color: gray;
}

.car_name {
    font-size: 1.5rem !important;
}