<div class="upper_border"></div>
<div class="row no-gutters">
    <div class="col-3">
    </div>
    <div class="col-9" style="width: 70rem;">
        <h3 class="total_cars" *ngIf="!isLoading && vehicleList">{{totalCars}} cars in Delhi-NCR</h3>
        <div *ngFor="let each of vehicleList">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="car" src="{{each.smallSizeImage}}">
                        </div>
                        <div class="col-sm-6">
                            <b>{{each.producer.producerName + " " + each.producer.modelCode}}</b>
                            <br>
                            <div class="attributes">
                                <img class="icon"
                                    src="{{each.fuelType.fuelTypeImage}}">&nbsp;{{each.fuelType.fuelName}}&nbsp;&nbsp;

                                <img class="icon"
                                    src="{{each.transmissionType.transmissionTypeImage}}">&nbsp;{{each.transmissionType.transmissionTypeName}}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <span class="rupee_symbol">₹</span>
                            <span class="price">{{each.priceMaster.basePrice-each.priceMaster.discountAbsolute}}</span>
                            <span class="month">/month</span>
                            <br>
                            <span class="price_before">₹{{each.priceMaster.basePrice}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>