<p-dialog id="signinModal" [(visible)]="display" modal="true" [style]="{width: '50vw'}" [closeOnEscape]="true"
    [dismissableMask]="true" [draggable]="false">
    <p-header>
        SignIn
        <br>
        <span *ngIf="errMsg!=null">{{errMsg}}</span>
    </p-header>
    <form (ngSubmit)="onSubmit(signinForm)" #signinForm=ngForm>
        <div class="row">
            <div class="col-sm-5 form-group">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username"
                    #uname="ngModel" required>
            </div>

            <div class="col-sm-5 form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password"
                    #amount="ngModel" required>
            </div>
        </div>
        <hr>
        <button class="btn btn-success button-lg float-right" type="submit"
            [disabled]="signinForm.invalid">Signin</button>
    </form>
</p-dialog>

<button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show">Signin</button>