<div class="card shadow p-3 mb-5 bg-white rounded more-cards">
    <div class="card-body" *ngIf="diffArray">
        <span>
            <h5>Subscription vs Buying</h5>
        </span>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">

            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 icon_lg">
                <b>Subscribe</b>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 icon_lg">
                <b>Buy</b>
            </div>
        </div>
        <div class="row points" *ngFor="let sub of diffArray; let i = index" [ngClass]="{'last_sub' : i===lastDiff }">
            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 each_point">
                {{sub}}
            </div>
            <div class="row tick_cross">
                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 icon">
                    <img class="tick_cross" src="/assets/img/tick_cross/tick.png">
                </div>
                <span class="span_ico"></span>
                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 icon">
                    <img class="tick_cross" src="/assets/img/tick_cross/cross.html">
                </div>
            </div>
        </div>
        <div class="more_diff" *ngIf="isMore">
            <a (click)="moreDiff()" class="more_diff">View More</a>
        </div>
    </div>
</div>