<div class="disclaimer_div">
    <div class="disclaimer_content">
        <span class="disclaimer">DISCLAIMER</span>
        <p class="disclaimer_para">
            * Car images shown are of top variant and for illustration purposes only. Accessories and features may not
            be
            part
            of
            standard equipment.
            <br>
            * All offers are offered by Leasing Partner(s) and may change at the time of execution of Lease Subscription
            agreement/
            invoicing of the vehicle. All prices shown are inclusive of GST.
            <br>
            * Subscription scheme details mentioned in the advertisement are at the sole discretion of the Leasing
            Partner(s)
            and
            terms and conditions as specified by the Leasing Partner(s) shall apply
            <br>
            * Leasing Partner(s) reserves the right to alter the details of product, offers and Vehicle lease
            subscription
            services
            without any notice.
            <br>
            * Credit evaluation, subject to submission of required documents & financial statements as per the credit
            policy
            of
            Car
            Nation Private Limited.
        </p>
    </div>
</div>