.signup-box {
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
}

.alert_span {
    font-size: 0.8rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
    color: red;
}

.input_otp {
    margin-left: 9rem;
}

h4 {
    font-weight: 550;
    font-size: 3rem;
    color: #1caba2;
    margin-left: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.glow {
    font-size: 50px;
    /* color: #fff; */
    text-align: center;
    /* font-size: 3rem; */
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0010px#fff, 0020px#fff, 0030px#4d50ff, 0040px#4d50ff, 0050px#4d50ff, 0060px#4d50ff, 0070px#4d50ff;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #4d50ff, 0 0 40px #4d50ff, 0 0 50px #4d50ff, 0 0 60px #4d50ff, 0 0 70px #4d50ff, 0 0 80px #4d50ff;
    }
}