<br><br>
<div class="container-fluid">
    <div class="row signup-box">
        <div class="col-md-6 col-xs-12 col-sm-12 ">
            <app-login-carousel></app-login-carousel>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 ">
            <div class="card text-center">
                <h5 class="card-title glow">CarNation</h5>
                <div class="alert_span">
                    <span *ngIf="registerError" class="alert alert-danger alert_span" role="alert">
                        {{registerError}}
                    </span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1"></div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <form (ngSubmit)="onSubmitSignup(signupForm)" #signupForm=ngForm autocomplete="off">
                                <div class="row">
                                    <div class="p-grid ui-fluid">
                                        <div class="p-col-12 p-md-4">
                                            <div class="ui-inputgroup">
                                                <span class="ui-inputgroup-addon"><i class="pi pi-envelope"
                                                        style="line-height: 1.25;"></i></span>
                                                <input type="text" pInputText id="email" class="form-control"
                                                    [(ngModel)]="email" name="email" #emailid="ngModel"
                                                    placeholder="EmailID" required>
                                            </div>

                                            <div class="ui-inputgroup">
                                                <span class="ui-inputgroup-addon"><i class="pi pi-user"
                                                        style="line-height: 1.25;"></i></span>
                                                <input type="text" pInputText id="username" class="form-control"
                                                    [(ngModel)]="username" name="username" #uname="ngModel"
                                                    placeholder="Username" required>
                                            </div>

                                            <div class="ui-inputgroup">
                                                <span class="ui-inputgroup-addon"><i class="pi pi-lock"
                                                        style="line-height: 1.25;"></i></span>
                                                <input type="password" pInputText id="password" class="form-control"
                                                    [(ngModel)]="password" name="password" #pwd="ngModel"
                                                    placeholder="Password" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success button-lg" type="submit" [disabled]="signupForm.invalid">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"
                                        *ngIf="isLoading"></span>
                                    <span *ngIf="isLoading">&nbsp;&nbsp;</span>
                                    SignUp</button>
                                <hr>
                                <span><b>Already a member!</b>
                                    <a class="nav-link" routerLink="/user/login">Signin</a>
                                </span>
                            </form>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog id="otpModal" [(visible)]="displayOtp" modal="true" [style]="{width: '50vw'}" [dismissableMask]="false"
    [closeOnEscape]="false" [draggable]="false" #otpModal>
    <form (ngSubmit)="onSubmitOtp(otpForm)" #otpForm=ngForm>
        <div class="row input_otp">
            <div class="form-group">
                <label for="otp">
                    <h4>Enter OTP</h4>
                </label>
                <div class="alert_span">
                    <span *ngIf="otpError" class="alert alert-danger alert_span" role="alert">
                        {{otpError}}
                    </span>
                </div>
                <br>
                <input type="text" id="otp" class="form-control" [(ngModel)]="otp" name="otp" #userotp="ngModel"
                    required>
            </div>
        </div>
        <button pButton type="button" class="ui-button-rounded ui-button-secondary" (click)="resendOTP()">
            Resend OTP</button>
        <button class="btn btn-success button-lg float-right" type="submit" [disabled]="otpForm.invalid">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="isLoadingOTP"></span>
            <span *ngIf="isLoadingOTP">&nbsp;&nbsp;</span>Validate OTP</button>
    </form>
</p-dialog>