<div>
    <img class="home_image_main_2"
        src="https://car-renting-service-images.s3.ap-south-1.amazonaws.com/subscribe_logo.png">
    <img class="home_image_main" src="https://car-renting-service-images.s3.ap-south-1.amazonaws.com/home_image_1.png">
</div>
<div class="gap"></div>
<div>
    <span class="home_heading">WHY SUBSCRIBE FROM CAR NATION</span>
    <img class="home_image" src="https://car-renting-service-images.s3.ap-south-1.amazonaws.com/why_use_subscribe.png">
</div>
<div class="gap"></div>
<div id="how">
    <span class="home_heading">EASY STEPS TO SUBSCRIBE YOUR CAR</span>
    <img class="home_image" src="https://car-renting-service-images.s3.ap-south-1.amazonaws.com/how_to_subscribe.png">
    <div class="home_content">------Subscribe to a car with a private registration number------</div>
</div>
<div class="gap"></div>
<div id="faq">
    <app-faq-vehicles></app-faq-vehicles>
</div>
<div>
    <app-disclaimer></app-disclaimer>
</div>